body {
  background-color: blanchedalmond;
}

/*.myTitle {
  font-size: larger;
}
/* #myTitle1 {
  color: aqua;
} */

.myTitle1 {
  background-color: rgba(234, 98, 177);
  font-size: 30px;
  font-family: Verdana, DejaVu Sans, sans-serif;
}

.myTitle2 {
  color: rgb(9, 9, 146);
  font-size: 36px;
}

/*.myTitle3 {
  background-color: rgb(227, 77, 172);
  font-family: Verdana, DejaVu Sans, sans-serif;
  font-size: 24px;
}*/

#myTitle3 {
  background-color: rgb(227, 77, 172);
  font-family: Verdana, DejaVu Sans, sans-serif;
  font-size: 24px;
}

.myTitle4 {
  background-color: rgb(110, 199, 110);
  font-size: 24px;
  font-style: bold;
}

.myTitle5 {
  background-color: rgb(234, 98, 177);
  font-size: 30px;
  font-family: Verdana, DejaVu Sans, sans-serif;
}

.myBtn {
  background-color: rgba(128, 255, 212, 0.5);
}

.myBtn:hover {
  background-color: rgba(128, 255, 212, 1);
}

.surprisehere {
  background-color: #2a2929;
  font-family: "Helvetica", sans-serif, Times New Roman, Times, serif;
  font-size: 28px;
  /*text-align: center;*/
  color: rgb(220, 209, 209);
}

#seethis {
  background-color: rgb(230, 230, 75);
  font-family: "Times New Roman", Helvetica, sans-serif;
  font-size: 28px;
  /*text-align: right;*/
}
